<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:hover {
        background-color: coral;
      }
      .container {
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>LIST USERS</h2>
      <table>
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
        </tr>

        <% dataUsers.forEach(function(user, i){ %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.firstName %></td>
          <td><%= user.lastName %></td>
          <td><%= user.address %></td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
